@model IEnumerable<ProjetoCinema.Models.Diretor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeDiretor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paisDiretor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeDiretor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paisDiretor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idDiretor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idDiretor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idDiretor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
